name: CI workflow

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test_iOS:
    name: Build and Test project on iOS
    runs-on: [ self-hosted, iOS ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: xcodebuild -scheme InfomaniakCore build -destination "platform=iOS Simulator,name=iPhone 17 Pro,OS=latest"
      - name: Test
        run: Scripts/prepareForTesting.sh && xcodebuild -scheme InfomaniakCore-Package test -destination "platform=iOS Simulator,name=iPhone 17 Pro,OS=latest" -enableCodeCoverage YES -resultBundlePath ResultBundle.xcresult
      - name: Convert Coverage Report
        run: ./Scripts/xccov-to-generic.sh ResultBundle.xcresult > coverage.xml
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 #6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build_and_test_macOS:
    name: Build and Test project on macOS
    runs-on: [ self-hosted, macOS ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Test
        run: Scripts/prepareForTesting.sh && swift test
